<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
<div id="container">
    <br><br>
    <span id="pagename">Welcome to Well Reader</span>
    <br><br><br>
    <div class="smallCont">
        <a class="btn" id="userLink" href="http://127.0.0.1:5000/main">individual</a>
    </div>
    <br>
    <div class="smallCont">
        <a class="btn" id="storeLink" href="http://127.0.0.1:5000/video">store</a>
    </div>
    <div class="smallCont" id="settingLink_Div">
        <a  class="btn2" id="settingLink" href="http://127.0.0.1:5000/setting">Setting</a>
    </div>

</div>
</body>
</html>