#scanvideo{
    display: none;
    margin : auto;
    display: block;
    width: 50%;
    height: 80%;
}
body{
     background: MediumSeaGreen;
}

#pagename{
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
    font-size: 500%;
    color: white;
}

input {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    width: 50%;
    height: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 10px 10px 10px 5%;
    font-size: 200%;
    font-weight: normal;
    text-align: left;
}
p{
    position: relative;
    font-size: 200%;
    color: dimgray;
}

#userBut{
    position: relative;
    width: 30%;
    font-size: 200%;
    margin-bottom: 1%;
    left: 35%;
    right: 35%;
}

#getStoreName{
    position: relative;
    left: 35%;
    right: 35%;
}